.agenda {}


/* Dates */

.agenda .agenda-date {
    width: 170px;
}

.agenda .agenda-date .dayofmonth {
    width: 40px;
    font-size: 36px;
    line-height: 36px;
    float: left;
    text-align: right;
    margin-right: 10px;
}

.agenda .agenda-date .shortdate {
    font-size: 0.75em;
}


/* Times */

.agenda .agenda-time {
    width: 140px;
}


/* Events */

.agenda .agenda-events {}

.agenda .agenda-events .agenda-event {}


/* Sortable tables */

table.sortable thead {
    background-color: #eee;
    color: #666666;
    font-weight: bold;
    cursor: default;
}


@media (max-width: 767px) {}
