* {
	margin:0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.agregar {
  background: #F0F0F0;
  color:#fff;
	font-size: 13px;
  font-family: Comfortaa;
	padding: 20px;
}

.borrartodo{
  background: #ED8485;
  color:#fff;
	font-size: 13px;
  font-family: Comfortaa;
	padding: 20px;
}

.nuevoevento {
  background: #89ED84;
  color:#000000;
	font-size: 13px;
  font-family: Comfortaa;
	padding: 20px;
}

.vertodos {
  background: #6971F7;
  color:#fff;
	font-size: 13px;
  font-family: Comfortaa;
	padding: 20px;
}

.verfechayhora {
  background: #F77869;
  color:#fff;
	font-size: 13px;
  font-family: Comfortaa;
	padding: 20px;
}


.hoy {
  background: #39A036;
  color:#fff;
	font-size: 13px;
  font-family: Comfortaa;
	padding: 20px;
}

.semana {
  background: #E969E6;
  color:#fff;
	font-size: 13px;
  font-family: Comfortaa;
	padding: 20px;
}

.mes2 {
  background: #B247F5;
  color:#fff;
	font-size: 13px;
  font-family: Comfortaa;
	padding: 20px;
}

.proximos {
  background: #2895DB;
  color:#fff;
	font-size: 13px;
  font-family: Comfortaa;
	padding: 20px;
}

.cabeceratabla {
	color: #fff;
	background-color: #475376;
  font-size: 13px;
  font-family: Comfortaa;
	align-content: center;
	}

.botonesagregarborrar {
	position: absolute;
	right: 0px;
	width: 300px;
	border: 3px solid #73AD21;
	padding: 20px;
}
