* {
	margin:0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.agregar {
  background: #F0F0F0;
  color:#fff;
	font-size: 13px;
  font-family: Comfortaa;
	padding: 20px;
}

.borrartodo{
  background: #ED8485;
  color:#fff;
	font-size: 13px;
  font-family: Comfortaa;
	padding: 20px;
}

.nuevoevento {
  background: #89ED84;
  color:#000000;
	font-size: 13px;
  font-family: Comfortaa;
	padding: 20px;
}

.vertodos {
  background: #6971F7;
  color:#fff;
	font-size: 13px;
  font-family: Comfortaa;
	padding: 20px;
}

.verfechayhora {
  background: #F77869;
  color:#fff;
	font-size: 13px;
  font-family: Comfortaa;
	padding: 20px;
}


.hoy {
  background: #39A036;
  color:#fff;
	font-size: 13px;
  font-family: Comfortaa;
	padding: 20px;
}

.semana {
  background: #E969E6;
  color:#fff;
	font-size: 13px;
  font-family: Comfortaa;
	padding: 20px;
}

.mes2 {
  background: #B247F5;
  color:#fff;
	font-size: 13px;
  font-family: Comfortaa;
	padding: 20px;
}

.proximos {
  background: #2895DB;
  color:#fff;
	font-size: 13px;
  font-family: Comfortaa;
	padding: 20px;
}

.cabeceratabla {
	color: #fff;
	background-color: #475376;
  font-size: 13px;
  font-family: Comfortaa;
	align-content: center;
	}

.botonesagregarborrar {
	position: absolute;
	right: 0px;
	width: 300px;
	border: 3px solid #73AD21;
	padding: 20px;
}

.date {
	width: 130px; height: 160px;
	background: #fcfcfc;
	background: linear-gradient(top, #fcfcfc 0%,#dad8d8 100%);
	background: -moz-linear-gradient(top, #fcfcfc 0%, #dad8d8 100%);
	background: -webkit-linear-gradient(top, #fcfcfc 0%,#dad8d8 100%);
	border: 1px solid #d2d2d2;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
}

/* Formato a las fechas */

.fecharecuadro {
	width: 130px; height: 160px;
	background: #fcfcfc;
	background: linear-gradient(top, #fcfcfc 0%,#dad8d8 100%);
	background: -moz-linear-gradient(top, #fcfcfc 0%, #dad8d8 100%);
	background: -webkit-linear-gradient(top, #fcfcfc 0%,#dad8d8 100%);
	border: 1px solid #d2d2d2;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	box-shadow: 0px 0px 15px rgba(0,0,0,0.1);
	-moz-box-shadow: 0px 0px 15px rgba(0,0,0,0.1);
	-webkit-box-shadow: 0px 0px 15px rgba(0,0,0,0.1);
}

.fecharecuadro p {
	font-family: Helvetica, sans-serif;
	font-size: 75px; text-align: center; color: #9e9e9e;
}

.fecharecuadro p span {
	background: #d10000;
	background: linear-gradient(top, #d10000 0%, #7a0909 100%);
	background: -moz-linear-gradient(top, #d10000 0%, #7a0909 100%);
	background: -webkit-linear-gradient(top, #d10000 0%, #7a0909 100%);
	font-size: 30px; font-weight: bold; color: #fff; text-transform: uppercase;
	display: block;
	border-top: 3px solid #a13838;
	border-radius: 0 0 10px 10px;
	-moz-border-radius: 0 0 10px 10px;
	-webkit-border-radius: 0 0 10px 10px;
	padding: 6px 0 6px 0;
}

@-moz-document url-prefix() {
    .fecharecuadro {
        padding: 16px 0 0 0;
    }
    .fecharecuadro p span {
    	padding: 9px 0 3px 0;
    }
}
